<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <br>
          <br>
          <% if current_user %>
            <dt>Rate and review</dt>
              <%= form_for [@product, @review] do |f| %>
                <dd>
                  <div class="field">
                    <%= f.label :rating %>
                    <%= f.select :rating, [5, 4, 3, 2, 1] %>
                  </div>
                  <div class="field">
                    <%= f.label :description %><br>
                    <%= f.text_area :description, size: "50x3" %>
                  </div>
                  <div class="actions">
                    <%= f.submit %>
                  </div>
                </dd>
              <% end %>
            <% end %>
          <dt>Reviews</dt>
          <dd>
            <% @product.reviews.order("created_at DESC").each do |review| %>
              <% if review.user %>
                <tr>
                  <td class="rating">
                    Rating: <%= review.rating %>
                  </td>
                </tr>
                <br>
                <tr>
                  <td class="user">
                    <%= review.user.first_name %> said:
                  </td>
                  <td class="description">
                    "<%= review.description %>"
                  </td>
                </tr>
                <% if review.user == current_user %>
                  <br>
                  <%= link_to 'Delete review', review, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
                <br>
                <br>
              <% end %>
            <% end %>
          </dd>
        </dl>
      </div>
    </div>

  </article>

</section>
